#--------------------------------------------------------------------
# ENVIRONMENT
#--------------------------------------------------------------------
CI_ENVIRONMENT = development

#--------------------------------------------------------------------
# APP
#--------------------------------------------------------------------
app.baseURL = 'http://192.168.0.100/'
app.forceGlobalSecureRequests = false
app.defaultLocale = 'es'
app.appTimezone = 'America/Argentina/Buenos_Aires'

#--------------------------------------------------------------------
# DATABASE
#--------------------------------------------------------------------
database.default.hostname = 127.0.0.1
database.default.database = la-buona-salsa
database.default.username = salsa_user
database.default.password = salsa_pass123
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306

#--------------------------------------------------------------------
# MERCADO PAGO CREDENTIALS
# Obtener en: https://www.mercadopago.com.ar/developers/panel/app
#--------------------------------------------------------------------
MP_PUBLIC_KEY = "TU_PUBLIC_KEY_AQUI"
MP_ACCESS_TOKEN = "TU_ACCESS_TOKEN_AQUI"

#--------------------------------------------------------------------
# NOTIFICACIONES
#--------------------------------------------------------------------
ADMIN_EMAIL = "jean.caret.almenar256@gmail.com"
